.BnrImg {
    width: 100%;
    height: 350px;      
    display: block;   
    object-fit: cover;
}
.home-container {
    position: relative;
    width: 100%;
}
.sub-line{
  color: var(--color-black);
}
/* Optional: Limit height on very large screens so the banner isn't massive */
@media (min-width: 1440px) {
    .BnrImg {
        max-height: 500px; 
    }
}

.quote-section {
    padding: 48px 60px 60px;
    background: #fff;
    /* max-width: 1200px; */
  }
  
  
  .quote-grid {
    display: grid;
    grid-template-columns: 480px 1fr;
    gap: 100px;
    align-items: center;
    
  }
  
  /* Card */
  .quote-card {
    background: #2f2f2f;
    color: #fff;
    padding: 18px;
    border-radius: 8px;
    /* height: -webkit-fill-available; */
    margin-top: 20px;
  }
  
  .quote-card label {
    font-size: 13px;
    margin-top: 12px;
    display: block;
  }
  
  .quote-card input,
  .quote-card select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    margin-top: 5px;
  }
  
  .row {
    display: flex;
    gap: 12px;
    justify-content: space-evenly;
  }
  
  .fare-row {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 10px;
    font-weight: 500;
    color: #fff;
    align-items: center;
  }
  .fare-row strong{
    color: #00c853;
  }
  
  .quote-btn {
    width: fit-content;
    padding: 14px;
    border: none;
    background: #f7931e;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
  }
  
  /* Info */
  .quote-info h2 {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .bar {
    width: 4px;
    height: 28px;
    background: var(--color-orange);
  }
  
  .quote-info ul {
    margin-top: 20px;
    list-style: none;
    padding: 0;
  }
  
  .quote-info li {
    margin-bottom: 20px;
  }
  
  .quote-info strong {
    display: block;
    font-size: 16px;
  }

  .quote-sec-bottom{
    font-size: 13px;
    margin-top: 40px;
  }
  
  /* Responsive */
  @media (max-width: 900px) {
    .quote-grid {
      grid-template-columns: 1fr;
    }

    .quote-section {
      padding: 0px;
    }
  }

  @media (max-width: 768px) {
    .quote-section {
      padding: 0px;
    }
  }

  @media (max-width: 640px) {
    .quote-section {
      padding: 0px;
    }
  }

  @media (max-width: 480px) {
    .quote-section {
      padding: 0px;
    }
  }

  @media (max-width: 380px) {
    .quote-section {
      padding: 0px;
    }
  }
  