/* ============================================================
   OUR FLEETS SECTION
   ============================================================ */

   .fleets-section {
    padding: 80px 0 40px 0;
    background: #f5f5f5;
  }
  
  .fleets-container {
    /* max-width: 1200px; */
    margin: 0 auto;
    /* padding: 0 40px; */
  }
  
  /* Section Header */
  .section-header {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .section-bar-flt {
    width: 4px;
    height: 28px;
    background: var(--color-orange);
  }
  
  .section-header h2 {
    font-size: 28px;
    font-weight: 700;
    color: #1a1a1a;
    text-transform: capitalize;
  }
  
  /* ============================================================
     FLEETS GRID
     ============================================================ */
  
  .fleets-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    /* margin: 40px 0 32px; */
    padding: 25px 25px 25px 0px;
  }
  
  /* Fleet Card */
  .fleet-card {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: grid;
    flex-direction: column;
    border: 1px solid #DADADA;
    padding: 3px ;
  }
  
  .fleet-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.12);
    /* background-color: var(--color-blue); */
  }
  
  /* Image */
  .fleet-image-wrap {
    width: 100%;
    height: 250px;
    /* background: #fafafa; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
  }
  
  .fleet-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  /* Name */
  .fleet-name {
    font-size: 22px;
    font-weight: 600;
    color: #141C28;
    text-align: left;
    margin: 16px 16px 12px;
  }
  
  /* Specs */
  /* .fleet-specs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0 16px 25px;
  }
  
  .spec-item {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  
  .spec-icon {
    width: 18px;
    height: 18px;
    color: #3F3F3F;
  }
  
  .spec-item span {
    font-size: 14px;
    font-weight: 600;
    color: #3F3F3F;
  }
  .spec-btn{
    align-items: end;
  } */

  .fleet-specs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px 20px 16px;
  }
  
  .spec-left {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .spec-item {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  
  .spec-btn {
    margin-left: auto;
  }
  
  /* Book Button */
  .fleet-book-link {
    display: block;
    text-align: center;
    padding: 10px 30px;
    background: #fafafa;
    color: #141C28;
    text-decoration: none;
    font-size: 13.5px;
    font-weight: 600;
    transition: background 0.2s ease, color 0.2s ease;
    margin-top: auto;
    border: 1px solid #BDBDBD;
    border-radius: 65px;
  }




  
  
  .fleet-book-link:hover {
    background: var(--color-blue);
    color: #fff;
    border: 1px solid #BDBDBD
  }
  
  .BtmTxt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* margin-top: 30px; */
    font-size: 1rem;
    font-weight: 500;
    color: #a50808;
    flex-wrap: wrap;
  }
  
  .BtmTxt span {
    display: flex;
    gap: 15px;
  }
  
  .BtmTxt span img {
    width: 20px;
    height: 20px;
  }
  
  /* ============================================================
     RESPONSIVE
     ============================================================ */
  
  @media (max-width: 1024px) {
    .fleets-grid {
      grid-template-columns: repeat(2,1fr);
      gap: 20px;
    }
    
  }
  
  @media (max-width: 640px) {
    /* .fleets-container {
      padding: 0 20px;
    } */
  
    .fleets-grid {
      grid-template-columns: 1fr;
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
    }
  
    .fleet-image-wrap {
      height: 180px;
    }


  
  }

  @media (max-width: 740px) {
    .fleet-specs {
      display: block !important;
  }
  .fleet-card{
      padding: 20px !important;
      /* width: 100%; */
  }
  .spec-left{
      justify-content: center;
      margin-bottom: 20px;
  }

  .fleets-section {
      padding: 30px 0 40px 0;
  }

  .fleet-image-wrap{
    padding: 10px;
  }
  .fleet-img{
    width: 90%;
  }

  .BtmTxt{
    font-size: 12px;
    gap: 10px;
  }

  .BtmTxt span img {
    width: 15px;
    height: 15px;
  }
}
  
  @media (max-width: 480px) {
    .fleet-specs {
      display: block !important;
  }
  .fleet-card{
      padding: 10px !important;
      width: 100%;
  }
  .spec-left{
      justify-content: center;
      margin-bottom: 20px;
  }

  .fleets-section {
      padding: 30px 0 40px 0;
  }

  .fleet-image-wrap{
    padding: 0px;
  }

  .BtmTxt{
    font-size: 12px;
    gap: 10px;
  }

  .BtmTxt span img {
    width: 15px;
    height: 15px;
  }
  }