@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --color-black: #000000;
  --color-gray: #555555;
  --color-white: #ffffff;
   --color-blue: #1D6ADF;  /* #2563eb; */
  --color-orange: #F58300;
  --color-light-ash: #F3F3F3;

  /* FONTS */
  --font-primary: "Poppins", sans-serif;
  --font-heading: "Poppins", sans-serif;
}


body {
  font-family: var(--font-primary);
  width: 100%;
  margin: 0;
  height: 100%;
}


button {
  font-family: var(--font-primary);
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: var(--color-white);
  transition: all 0.3s ease;
  box-shadow: var(--shadow);
  width: 90%;
}


label {
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 19.5px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--color-white);
}

input,
select,
textarea {
  font-family: var(--font-primary);
  padding: 10px 10px;
  border: 1px solid #E5E5E5;
  /* outline: none; */
  width: 100%;
  box-shadow: var(--shadow);
  transition: all 0.2s ease;
  border-radius: 6px;
  object-fit: cover;
  box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus {
  box-shadow: 0 0 0 2px var(--color-blue);
}


.container {
  width: 80%;
  margin: 20px auto 0px;
}

.titleBy {
  display: flex;
  align-items: center;
  gap: 20px;
}

.Title-line {
  width: 5px;
  height: 47px;
  background-color: var(--color-orange);
  border-radius: 20px;
}

.title {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 500;
  color: #000;
}

.clrBlue{
  color: var(--color-blue);
}